<h1>Bienvenido a NearGas</h1>

  <%= simple_form_for :locations, url: '/stations.js', remote: true do |f| %>
    <div class="row vertical-align">
      <div class="form-inputs col-md-5">
        <%= f.input :code, as: :string %>
      </div>
      <div class="form-actions col-md-4">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>

<div id="stations_table_output"></div>
<td><%=Commune.nearest%></td>